.coin-table-row {
  margin: 0 auto;
  width: 1000px;
  border-bottom: 1px #f1f3f6 solid;
}

.cells {
  width: 1000px;
  height: 40px;
  position: relative;
}

.positive-gap {
  color: #ff5c5c;
}

.negative-gap {
  color: #467cf1;
}

.cells > .cell {
  position: absolute;
  text-align: end;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  word-wrap: break-word;
}

.coin-table-row .cell:nth-child(1) {
  margin-left: 10px;
}

.coin-table-row .cell:nth-child(2) {
  display: flex;
}

.coin-icon {
  margin: 6px 0;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.ticker {
  margin: 0 8px;
}

.name {
  color: gray;
}
