.select-container {
  margin-top: -20px;
  display: flex;
}


select {
  margin: 0 10px;
  width: 107px;
  border: 1px solid #C4C4C4;
  border-radius: 35px;
  padding: 7px 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
}

.select-container button {
  margin: 0 3px;
  width: 70px;
  background-color: none;
  text-align: center;
  line-height: 35px;
  border: 1px solid #F6F7FA;
  border-radius: 35px;
  transition: 0.2s;
  font-weight: 600;
}

.selected-location {
  background-color: #4caf50;
  color: white;
}

.chart-list {
  display: flex;
}